main {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.stageContainer {
  background-color: rgb(44, 44, 44);
  flex: 1;
}

.toolBar {
  padding: 10px;
}

button {
  padding: 10px;
}

.slider {
  padding: 10px;
}

input {
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
  width: 20rem;
}

/* Using a gradient colour to make it cohesive. Having each of the different sliders be different shades since they produce different functions.   */
/* slider track */
#change-red2[type="range"]::-webkit-slider-runnable-track {
  background-color: red;
  border-radius: 10px;
  height: 10px;
}

#change-blue2[type="range"]::-webkit-slider-runnable-track {
  background-color: blue;
  border-radius: 10px;
  height: 10px;
}

#change-green2[type="range"]::-webkit-slider-runnable-track {
  background-color: green;
  border-radius: 10px;
  height: 10px;
}

/* slider thumb (Chrome, Safari, Edge) */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;

  background-color: black;
  height: 16px;
  width: 16px;
  border-radius: 50%; /* makes it a circle */

  border: 2px solid #ccc; /* optional: gives contrast */
  margin-top: -3px; /* aligns with track */
}
